version: "3"

services:
  node-app:
    container_name: express-node-app-prod
    build:
      context: .
      target: production
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    command: ["npm", "start"]