version: "3.8"

services:
  node-app:
    container_name: express-node-app-container
    image: ehabemad/tresmerge-docke
    build:
      context: .
      target: production
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    depends_on:
      - postgres
      - redis
  postgres:
    image: postgres
    restart: always
    volumes:
      - postgres-db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: example
    
  # mongo:
  #   image: mongo
  #   container_name: mongo-container
  #   restart: always
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: example
  #   volumes:
  #     - mongo_db:/data/db

  # mongo-express:
  #   image: mongo-express
  #   container_name: mongo-express
  #   restart: always
  #   ports:
  #     - "8081:8081"
  #   environment:
  #     ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/?authSource=admin
  #     ME_CONFIG_BASICAUTH_ENABLED: "true"
  #     ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
  #     ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
  #   depends_on:
  #     - mongo

  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"

  web:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
volumes:
  mongo_db:
  postgres-db:
